## Build output
bin/
obj/

## NuGet packages
*.nupkg
*.snupkg
nupkg/
packages/

## Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider / JetBrains
.idea/

## OS
.DS_Store
Thumbs.db

## Test results
TestResults/
*.trx
*.coverage
*.coveragexml
